<div class="appt-request-outer-container">
  <header class="appt-request-header">
    Request an Appointment
  </header>
  <div class="appt-request-container">
    <ApptRequest::Steps />
    <div class="appt-request-content">
      {{component this.activeComponent}}
    </div>
  </div>
</div>