<div class="appt-request-container">
  <ApptRequest::Steps />
  <div class="appt-request-content">
    {{!-- content goes here based on current step --}}
    {{component this.activeComponent}}
  </div>
</div>