.appt-request-step-list {
  padding-right: 1rem;

  & > .appt-request-step {
    color: $gray;
    counter-increment: li;
    display: flex;
    flex-direction: row;
    font-family: Arial;
    list-style: none;
    margin-bottom: .75rem;
    position: relative;
    text-transform: uppercase;

    &::before {
      align-items: center;
      background-color: $gray;
      border-radius: 50%;
      color: $white;
      content: counter(li);
      display: flex;
      height: 1.5rem;
      justify-content: center;
      margin: -.25rem 1rem 0 0;
      width: 1.5rem;
    }

    &.active {
      color: $very-dark-gray;

      &::before {
        background-color: $very-dark-gray;
      }
    }

    &.completed {
      &::before {
        background-color: $green;
        content: '\2713';
      }

      & > .step-content {
        & > .extra-data {
          display: flex;
          color: $blue;
          cursor: pointer;
          white-space: pre-line;
        }
      }
    }

    & > .step-content {
      & > .extra-data {
        display: none;
        text-transform:none;
      }
    }
  }
}