.card {
  background-color: $white;
  border-radius: .5rem;
  box-shadow: 0 .125rem .25rem 0 rgb(202 217 232 / 25%);
  overflow: hidden;
  width: 17rem;

  & > .card-content,
  & > .card-footer {
    margin: .6rem;
  }

  & > .card-footer {
    display: flex;
    justify-content: center;

    & > .ui-btn {
      width: 100%;
    }
  }

  & > .card-header {
    height: 11rem;
  }
}