.list {
  flex-direction: column;

  &,
  & > .list-item {
    display: flex;
  }

  & > .list-item {
    align-items: center;
    background-color: $white;
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem 0 rgb(202 217 232 / 25%);
    justify-content: space-between;
    flex: 1;
    flex-direction: row;
    margin-bottom: .5rem;
    padding: .75rem;
  }
}